<launch>
    <!-- Launch file for my_fast_lio -->

    <!-- Set parameters -->
    <param name="use_sim_time" value="false" />

    <rosparam command="load" file="$(find my_fastlio)/config/staircase_velodyne.yaml" />

    <!-- 添加rviz -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find my_fastlio)/rviz/loam_livox2.rviz">
        <param name="use_sim_time" value="false"/>
    </node>

    <!-- Start the node -->
    <!-- <node pkg="my_fastlio" type="my_fastlio_node" name="my_fastlio_node" output="screen"  launch-prefix="gdbserver localhost:3000"> -->
    <node pkg="my_fastlio" type="my_fastlio_node" name="my_fastlio_node" output="screen">
    </node>

</launch>